@model Entities.Concrete.Bildirim

@{
    ViewData["Title"] = "Details";
}
<style>
    .card {
        width: 500px;
        height: 500px;
        margin-right: 50px
    }

    p {
        margin-left: 25%
    }

    img {
        padding-left: 150px;
        padding-top: 50px
    }
</style>
<div class="row">

    <div class="col rounded">
        <p style="padding-left:50px">@Html.DisplayFor(a => a.Baslik)</p>

        @*@if (Model.SablonGorselYolu != null)
            {
                <img src="@Model.SablonGorselYolu" />
            }
            @if (Model.SablonGorselYolu == null)
            {
                <img src="~/5ceae25bfc6c3ba6ed010848e957eb0c.jpg" />
            }*@
    </div>

    <div class="col card">
        <p>@Html.Raw(Model.Icerik)</p>
        <p>@Html.DisplayFor(a => a.SablonTanimi)</p>
    </div>

</div>

<div>
    <a asp-action="Delete" asp-route-id="@Model.BildirimId">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model.BildirimId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


