@model Entities.Concrete.CalisanAvans

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/SirketYonetici/Views/Shared/_LayoutYonetici.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CalisanAvans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaksitSayısı)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaksitSayısı)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvansMiktarı)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvansMiktarı)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acıklama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acıklama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvansTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvansTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnayDurumu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnayDurumu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvansTalepEdilenTarih)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvansTalepEdilenTarih)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvansOnaylandıgıTarih)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvansOnaylandıgıTarih)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvansVerildigiTarih)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvansVerildigiTarih)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calisan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calisan.Adi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CalisanAvansID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
