@model Entities.Concrete.CalisanHarcama

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalisanHarcama</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HarcamaAciklamasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HarcamaAciklamasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HarcamaMiktari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HarcamaMiktari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HarcamaBelgesiYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HarcamaBelgesiYolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calisan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calisan.Adi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CalisanHarcamaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
