    @model IEnumerable<Entities.Concrete.CalisanHarcama>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HarcamaAciklamasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarcamaMiktari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarcamaBelgesiYolu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calisan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HarcamaAciklamasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarcamaMiktari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarcamaBelgesiYolu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calisan.Adi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CalisanHarcamaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CalisanHarcamaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CalisanHarcamaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
