@model Entities.Concrete.CalisanAvans

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CalisanAvans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaksitSayısı)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaksitSayısı)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvansMiktarı)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvansMiktarı)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acıklama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acıklama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvansTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvansTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedAciklama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedAciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CalisanAvansID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
